:root{
  --main-color       : #edb8ff;
  --main-color-hover : #d188fb;
  --title-color      : #ffffff;
  --text-color       : rgb(182, 182, 182);
  --light-text-color : #A0A7AC;
  --body-color : #222b33;
  --body-color-secondary : #1a2228;
  --body-color-tertiary : #29343c;
  --body-color-quaternary : #373d48;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
text {
  font-size: 17px;
}