.user_proyects_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97%;
  background-color: var(--body-color-secondary);
  min-height: 50px;
  color : var(--light-text-color);
}
.user_proyects_container:hover {
  cursor: pointer;
  background-color: var(--body-color);
}
.user_proyects_container:active {
  cursor: pointer;
  background-color: var(--body-color-tertiary);
}
.proyect_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.proyect_state{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.proyect_image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.proyect_data_description{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30px;
}
.proyect_log_content{
  
  display:flex;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
}
.proyect_log_content pre {
  white-space: normal;
  display: flex;
  flex-direction: column;
  width: 85%;
  min-height: 20%;
  max-height: 100%;
  overflow: auto;
  background-color: var(--body-color-secondary);
  border: 1px solid #323232;
  color: white;
  text-align: left;
}
.proyect_log_content pre::-webkit-scrollbar {
  display: none;
}
.proyect_log_content pre code {
  padding: 5px;
  border-bottom: 3px solid var(--body-color-quaternary);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 38px;
  font-size: 17px;
}
.proyect_log{
  background-color: var(--body-color-quaternary);
  width: 100%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}