.signup {
  display: flex;
  flex-direction: row;
  background-color: var(--body-color);
  padding: 20px 35px;
  border-radius: 5px;
  width: 900px;
  height: 520px;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -1px #341742;
  box-sizing: border-box;
}
.signup_form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.signup__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.signup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 0 50px;
  padding: 10px;
}
.signup__form__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
}
.signup__form__button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0;
}
.signup__form__button button {
  width: calc(90% + 20px);
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 11px;
  color: #403737;
  font-size: 16px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}
.signup__form__button button:hover{
  background-color: var(--main-color-hover);
  color: #1e1a1a;
}
.checkTOS{
  transform: scale(1.5);
  margin: 12px 8px 0 4px;
}
.signup__link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.signup_back{
  position: absolute;
  top: 18px;
  left: 0px;
}
.signup_back svg{
  font-size: 40px;
  fill: white;
  cursor: pointer;
}