.toolbar{
  background-color: var(--body-color);
  position: sticky;
  width: 100%;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 0 13px;
  box-sizing: border-box;
}
.mini_logo{
  position: relative;
  top: 4px;
  width:29px;

}
.toolbar__navigation_proyect p{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}